// FONTS
@font-face {
  font-family: ntr;
  src: url('../fonts/NTR-Regular.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url('../img/back.jpg');
  font-family: ntr, sans-serif;
}
